@tailwind base;
@tailwind components;
@tailwind utilities;


.container1 {
  max-width: 40rem; /* Increase max-width for width */
  width: 100%;      /* Set width to 100% to take the full available width */
  border-width: 2px;
  padding: 2.5rem;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

.container2 {
  max-width: 60rem; /* Increase max-width for width */
  width: 100%;      /* Set width to 100% to take the full available width */
  border-width: 2px;
  padding: 2.5rem;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

.image-container {
  position: relative;
  width: 500px; /* Default width for screens larger than sm */
  height: 500px; /* Default height for screens larger than sm */
}

@media (max-width: 390px) {
  /* Styles for screens smaller than sm */
  .image-container {
    width: 390px; /* Adjust the width for screens smaller than sm */
    height: 390px; /* Adjust the height for screens smaller than sm */
  }
}

.image {
  width: 100%;
  height: 100%;
  background-image: url('./components/PurpleNeons.jpg'); /* Replace with your initial image */
  background-size: cover;
  transition: background-image 0.3s ease; /* Add a smooth transition effect */

  /* Other styling if needed */
}

.image:hover {
  background-image: url('./components/PurpleNeons2.jpg'); /* Replace with your hover image */
}

.image-container2 {
  position: relative;
  width: 500px; /* Default width for screens larger than sm */
  height: 500px; /* Default height for screens larger than sm */
}

@media (max-width: 390px) {
  /* Styles for screens smaller than sm */
  .image-container2 {
    width: 390px; /* Adjust the width for screens smaller than sm */
    height: 390px; /* Adjust the height for screens smaller than sm */
  }
}

.image2 {
  width: 100%;
  height: 100%;
  background-image: url('./components/Reprieve.jpg'); /* Replace with your initial image */
  background-size: cover;
  transition: background-image 0.3s ease; /* Add a smooth transition effect */

  /* Other styling if needed */
}
