@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital,wght@1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient-text {
  /* Create a linear gradient */
  background: linear-gradient(to left, rgba(0, 0, 0, 0.9), white);
  /* Set the text color to transparent to reveal the gradient */
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bolder;
  /* Set the fallback color if gradients are not supported */
  color: transparent;
}

.container1 {
  max-width: 40rem;
  width: 100%;
  padding: 2.5rem;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), white) 1;
}

.container2 {
  max-width: 60rem;
  width: 100%;
  border-width: 3px;
  padding: 2.5rem;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), white) 1;
}

.container3 {
  max-width: 40rem;
  width: 100%;
  height: 50%;
  padding: 2.5rem;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), white);
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), white) 1;
}

.image-container {
  position: relative;
  width: 500px;
  height: 500px;
}


.image {
  width: 100%;
  height: 100%;
  background-image: url('./components/images/PurpleNeons.png');
  background-size: cover;
  transition: background-image 1s ease;

}

.image:hover {
  background-image: url('./components/images/PurpleNeons2.png');
}

.image2 {
  width: 100%;
  height: 100%;
  background-image: url('./components/images/Reprieve.png');
  background-size: cover;
  transition: background-image 0.3s ease;

}

.image3 {
  width: 100%;
  height: 100%;
  background-image: url('./components/images/Valentine.png');
  background-size: cover;
  transition: background-image 1s ease;
}

.image3:hover {
  background-image: url('./components/images/Valentine2.png');
}

.image4 {
  width: 100%;
  height: 100%;
  background-image: url('./components/images/Charlatan.png');
  background-size: cover;
  transition: background-image 1s ease;
}


.video-container2 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center; /* Adjust as needed */
}


@font-face {
  font-family: 'Diphylleia';
  src: url('/fonts/Diphylleia-Regular.ttf') format('truetype');
  /* Black weight is typically 900 */
  font-style: normal;
}

h1 {
  font-family: 'Diphylleia', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Diphylleia', sans-serif;
  font-weight: 600;
}


.black {
  background: black
}

.white{
  background-color: whitesmoke
}

/* 1st curve */
.custom-shape-divider-top-1708641576 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1708641576 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 272px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1708641576 .shape-fill {
  fill: whitesmoke
}


/* 2nd */
.custom-shape-divider-top-1708642640 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1708642640 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 358px;
}

.custom-shape-divider-top-1708642640 .shape-fill {
  fill: #000000;
}

/* 3rd */

.custom-shape-divider-top-1708736418 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1708736418 svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 417px;
}

.custom-shape-divider-top-1708736418 .shape-fill {
  fill: whitesmoke;
}

/* 4th */
.custom-shape-divider-top-1708767574 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1708767574 svg {
  position: relative;
  display: block;
  width: calc(166% + 1.3px);
  height: 164px;
}

.custom-shape-divider-top-1708767574 .shape-fill {
  fill: whitesmoke;
}

